html {
	background: #fafafa;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

body #content {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 600px;
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	padding: 25px;
}

#title {
	text-align: center;
	font-size: 16pt;
	border: 1px solid #006699;
	padding: 1px;
	font-style: italic;
}

#instructions {
	margin-bottom: 10px;
}

#warningLabel {
	color: blue;
	visibility: hidden;
	transition: color 0.2 ease;
	margin-bottom: 5px;
	margin-top: 20px;
}

#gradeLabel {
	margin-top: 0px;
	margin-bottom: 15px;
}

#gradeLabel, #warningLabel {
	text-align: center;
}

#saveSuccess {
	color: darkgreen;
	visibility: hidden;
	display: inline-block;
	float: left;
	transition: color 0.2 ease;
	margin: 6px 12px;
}

.controls {
	width: 100%;
	overflow: hidden;
}

#bottomControls {
	margin-top: 10px;
}

#bookControls {
	float:right;
}

#addItem, #clearTable {
	float:right;
}

#saveCookie {
	float:left;
}

#moreInfoGridWrapper {
	transition: all 0.3s linear;
	overflow: hidden;
	margin-top: 20px;
	max-height: 0px;
	border-top: 1px solid gray;
}

#moreInfoGridDesc{
	opacity: 0.0;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
		table-layout: fixed; /* prevent textbox from resizing column */
}

.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
	min-width: 200px;
}

#gradesGrid.datagrid {
    border: 1px solid #006699;
}

#moreInfoGrid.datagrid {
		border: 1px solid #36752D;
		transition: height 0.5s ease;
		visibility: hidden;
}

.datagrid table td,
.datagrid table th {
    padding: 3px 10px;
}

#gradesGrid.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}

#moreInfoGrid.datagrid table thead th {
	    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420));
    background: -moz-linear-gradient( center top, #36752D 5%, #275420 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color: #36752D;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #36752D;
}
.datagrid table thead th:first-child {
    border: none;
}
#gradesGrid.datagrid table tbody td {
    color: #00557F;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
		height: 21px;
}

#moreInfoGrid.datagrid table tbody td {
	    color: #275420;
    border-left: 1px solid #C6FFC2;
    font-size: 12px;
    font-weight: normal;
}

#gradesGrid.datagrid table tbody .alt td {
    background: #E1EEf4;
    color: #00557F;
}

#moreInfoGrid.datagrid table tbody .alt td {
	background: #DFFFDE;
    color: #275420;
}

.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
#gradesGrid.datagrid table tfoot td {
    border-top: 1px solid #006699;
    background: #a3cbdc;
		font-weight: bold;
}
#moreInfoGrid.datagrid table tfoot td {
    border-top: 1px solid #36752D;
    background: #b5ffb3;
		font-weight: bold;
}

.ftControl  {

		text-align: right;
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 3px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
		/*min-height: 20px;*/
		transition: all 0.1s ease;
}

.ftControl:focus {
	outline: none;
	
}

.ftControl:active {
	transform: translateY(1px);
}

#gradesGrid.datagrid table tfoot ul.active,
#gradesGrid.datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #00557F;
    color: #FFFFFF;
    background: none;
    background-color: #006699;
}
div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}

#controlBox {
	margin-top: 20px;
	margin-bottom: 0px;
}
